body{
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;

}
h2{
    background-color: white;
    height: 50px;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
span{
    color: darkslateblue;
    font-variant: small-caps;

}
#listContainer{
    margin: 50px auto;
    width: 4in;
    background-color: aliceblue;
    padding: 10px 0 10px 0;
}
ul{
    list-style: none;
    margin-left: 100px;
}
li{
    margin: 5px;
}
#count{
    text-align: center;
}