    <footer>

        <address>
        <ul>
            <li>MCFC 2018</li>
            <li>+1 (202) 267-4359  /  <a href="mailto:info@mcfc.com">info@mcfc.com</a></li>
            <li>Walter E. Washington Convention Center  /  Washington, DC</li>
        </ul>
        </address>
        <div>
            While this web site was created to satisfy the requirement of building a web site for an academic course at
            Regis University, the views and opinions expressed on this web site are solely those of the original author
            and do not necessarily represent the views and opinions of Regis University
        </div>
    </footer>