{% load staticfiles %}
<!DOCTYPE html>
<!--    Name: Kristina Watkins
        Assignment: CS336 Assignment #4
        Created: 10/30/2017
        Description:  Activities to do outside of the conference
-->
<html lang="en">
<head>
    <link rel="stylesheet" href=" {% static 'styles/webdefault.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:300" rel="stylesheet">

    <meta name="author" content="Kristina Watkins">
    <meta charset="UTF-8">
    <meta name="description" content="Activities to do outside of the Military Cyber Forensics Conference">
    <meta name="keywords" content="military, forensics, cyber, D.C., activites">
    <meta name="robots" content="nofollow, noimageindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Military Cyber Forensics Conference Activities</title>
</head>
<body>
<div class="content">
   {% include 'partials/navigation.html' %}
    <main>
        <h1 class="pageTitle">Activities to try around D.C.</h1>
        <section class="infoPanel" id="activityPanel">
            <table>
                <tr>
                    <td class="activity">
                        <figure>
                            <img src="{% static "images/spyMuseum.jpg" %}" alt="International Spy Museum">
                            <figcaption>International Spy Museum</figcaption>
                        </figure>
                    </td>
                    <td class="activity">
                        <figure>
                            <img src="{% static "images/brewTours.jpg" %}" alt="D.C. Brew Tours">
                            <figcaption>D.C. Brew Tours</figcaption>
                        </figure>
                    </td>
                    <td class="activity">
                        <figure>
                            <iframe width="300" height="168" src="https://www.youtube.com/embed/n-L0cdQLPnY" frameborder="0"
                            allowfullscreen></iframe>
                            <figcaption>WWII Memorial</figcaption>
                        </figure>
                    </td>
                    <td class="activity">
                        <figure>
                            <img src="{% static "images/shopping2.jpg" %}" alt="Shopping in George Town">
                            <figcaption>Go shopping in George Town</figcaption>
                        </figure>
                    </td>
                </tr>
            </table>
        </section>
    </main>
    {% include 'partials/footer.html' %}
</div> <!-- end of .content -->

</body>
</html>
